
.final{
    background-color: #D9CAB3;
    color: black;
    font-family:'Poppins', sans-serif;
    text-align: center;
}

.tituloEncabezado{ 
    text-align: center;
    background-color: #986D8E;
    margin: -20px;  
    padding: 10px;

}


/* Estilos navBar */
*{
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;;
    text-align: center;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0px;
    background-color: #EFE3D0;
}

.head-navbar{
    background-color: #87A8A4 ;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color:white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: #D9CAB3;
    transition: 0.5s;
}
/* Finaliza estilos navBar */