
/*Estos son los estilos de pagina*/
*{
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', 'sans-serif';
    
    
}
main{
    font-family: 'Poppins', 'sans-serif';
}

.subtitulo{
    text-align: center;
    background-color: #87A8A4;
    color: white;
    padding: 10px;
    
}

.final{
    background-color: #D9CAB3;
    color: black;
    font-family: 'Poppins', 'sans-serif';
    text-align: center;
    
}

.tabla{
    line-height: 20px;
    display: inline;
    place-items: left;
}
/* Estilos navBar */
body{
    font-family: 'Poppins', 'sans-serif';
    padding: 90px 0px 0px;
    background-color: #EFE3D0;
    text-align: center;
    
}

.head-navbar{
    background-color: #986D8E ;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    background-color: #986D8E;
}

.nav-link{
    color:white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: #D9CAB3;
    transition: 0.5s;
}
/* Finaliza estilos navBar */